# Variáveis de Ambiente do Projeto Ganesha

# 🐍 Backend (Flask/Python)
# ------------------------------------
FLASK_APP=backend/app/
FLASK_ENV=development

# Configuração do Banco de Dados MySQL
#DATABASE_URL=mysql+pymysql://user:password@localhost:3306/ganeshadb

# Chave Secreta para Sessões do Flask (MUDAR EM PRODUÇÃO!)
#SECRET_KEY=sua_chave_secreta_aqui

# ⚛️ Frontend (React)
# ------------------------------------
# O React só aceita variáveis que começam com REACT_APP_
REACT_APP_API_BASE_URL=http://127.0.0.1:5000/api/v1